$resize_button_width: 30px;
.input_editor {
    position: relative;
    .resize_line {
        position: absolute;
        background-color: #A4A4A4;
        width: 100%;
        height: 4px;
        bottom: -2px;
        z-index: 1000;
    }
    .resize_button {
        position: absolute;
        background-color: #A4A4A4;
        width: $resize_button_width;
        height: 12px;
        bottom: -6px;
        left: calc(50% - #{$resize_button_width} * 0.5);
        border-radius: 3px;
        cursor: ns-resize;
        z-index: 1001;
    }
    .resize_button:before {
        content: '';
        display: block;
        width: 70%;
        height: 1px;
        left: calc(50% - 70% * 0.5);
        top: 4px;
        background-color: white;
        position: relative;
    }
    .resize_button:after {
        content: '';
        display: block;
        width: 70%;
        height: 1px;
        top: 6px;
        left: calc(50% - 70% * 0.5);
        background-color: white;
        position: relative;
    }
}