footer {
	background-color: black;
	padding: 28px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.generate_chart {
	background-color: #0151FF;
	border: none;
	color: white;
	height: 32px;
	border-radius: 2px;
	cursor: pointer;
}