.generate_chart_div {
	background-color: #A9A9A9;
	padding: 22px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.generate_chart_btn {
	background-color: #2255FF;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	padding: 12px 28px;
	margin: 4px 2px;
	transition: 0.1s;
	border: none;
	cursor: pointer;

	&:hover {
		transform: scale(1.02, 1.02);
		box-shadow: white 0px 0px 10px;
	}

	&:active{
		transform: scale(0.98, 0.98);
	}
}